*.pyc
static/
media/
./project/*/__pycache__/*.pyc
logs/
db.sqlite3
_postgres_data/
_redis_data/
docker-compose.yaml
docker-compose.yml
project/project/settings/*
!project/project/settings/example.py
!project/project/settings/base.py
local
env.txt
nginx/*
!nginx/nginx-proxy-development.conf
backup.sh
project/uwsgi.ini