########## DJANGO CONFIGS #######################
DEBUG=1
SECRET_KEY=xyggedefsdfsdf&g3v(i0+s^*3y
DJANGO_SETTINGS_MODULE=project.settings.development
ALLOWED_HOSTS=domain.com,example.com
WHITELIST=http://localhost,https://example.com
THROTTLE_RATE_PER_APIKEY=1000

########## FEATURE FLAGS #######################
FEATURE_DARTA=on
# NOTE: any value evaluates to true
USE_AUTH_SERVICE_TO_AUTHENTICATE=
ALLOW_CORE_UPDATE=1
ALLOW_OAUTH_LOGIN=1
SYNC_WITH_AUTH_SERVICE
USE_PATRACHAR

########## AUTH SERVICE CONFIGS #######################
AUTH_SERVER_BASE_URL=167.71.229.103
AUTH_APP_ID=1224741314218238
AUTH_APP_SECRET=3f9742f0aeb14a9699f882a70aa30f05

########## DB CONFIGS #######################
SQL_ENGINE=django.db.backends.postgresql
POSTGRES_PASSWORD=postgres
POSTGRES_USER=postgres
POSTGRES_DB=patrachar
POSTGRES_HOST=db
POSTGRES_PORT=5432

########## MESSAGE QUEUE CONFIGS #######################
RABBITMQ_DEFAULT_USER=root
RABBITMQ_DEFAULT_PASS=password
RABBITMQ_HOST_IP=172.20.0.1
RABBITMQ_HOST_PORT=5672

########## EMAIL CONFIGS #######################
EMAIL_HOST_USER=postmaster@mailer.ideabreed.net
EMAIL_HOST_PASSWORD=64b2a175c102d75c83c46203edc46103-77751bfc-25b13c96
CELERY_BROKER_URL=redis://redis//

########## AWS CONFIGS #######################
AWS_ACCESS_KEY_ID= 
AWS_SECRET_ACCESS_KEY=
AWS_SES_REGION_NAME=
AWS_SES_REGION_ENDPOINT=
AWS_BUCKET_NAME=

########## SMS CONFIGS #######################
SMS_API_KEY=YmFuc2dhZGhpX2FkbWluOkJhbnNnYWRoaSEyMzQjLg==
SMS_SENDER_ID=BMB_Alert
SMS_SEND_URL=https://sms.doit.gov.np/sms/api
FEATURE_SMS=0
